.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.navbar li {
    float: right;
}
  
.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.navbar{
    font: 50; 
}
h1{
    text-align: center;
}

.navbar img{
    height: 40px;
    width: auto;
}
.container {
    display:flex;
    flex-direction:row;
}
img {
    width: 15%
}

h1{
    font-size: xx-large;
}
.technique1{
    display: flex;
    flex-direction: row;
}
.Techniques2{
    display: flex;
    flex-direction: row;
}

.technique1 img {
    width: 20%;
}
.Techniques2 img {
    width: 20%;
}
.Club{
    display: flex;
    flex-direction: row;
}

.ClubA {
    display: flex;
    flex-direction: row;
}
.ClubA image{
    width: 90%;
}
.navbar{
    background-color: #f1a6c1;
}
.navbar{
    font-size: 200%;
}
h1{
    font-size: 350%;
}
body {
    background-color: #fffef8;
}
h1 {
    color: #a167c2;
}
.navbar ul li a:hover {
    background-color:#fcfcfc;
  }
  .navbar a:visited{
    color: #69145c;
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Techniques2 img{
    border-radius: 50px;
  }
  .technique1{
    padding-bottom: 3.5%;
  }
  .technique1 img{
    border-radius: 50px;
  }